body main {
    max-width: 100%;
}

.uk-section-xsmall {
    padding-top: 20px;
    padding-bottom: 20px
}

.uk-text-center {
    text-align: center !important;
}

div {
    display: block;
}

.upload-container {
    max-width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.upload-container-form {
    border: 1px solid #a00;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6em;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.dropzone {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.dropzone .btn {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    display: inherit;
    border: none;
}

.dropzone button {
    margin-top: auto !important;
}

.choose-button,
.convert-button {
    background-color: #a00;
    color: #fff;
}

.uk-button:hover {
    text-decoration: none;
}

.uk-button-primary:focus,
.uk-button-primary:hover {
    background-color: #0f7ae5;
    color: #fff;
}

.uk-button:not(:disabled) {
    cursor: pointer;
}

.choose-button:hover, .convert-button:hover {
    background-color: #5e0000;
}
/* .uk-button-primary {
    background-color: #1e87f0;
    color: #fff;
    border: 1px solid transparent;
} */

::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

.uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color, background-color, border-color;
}